body {
  font-family: 'Helvetica Neue', sans-serif;
}


.menu-title {
  font-family: "Berlin Sans FB", serif;
  font-size: 2em; 
  color: rgb(59, 59, 61);
  text-decoration: bold;
  text-decoration: none;
  margin-top: 5px;
}


/* MENU LATERAL */
#sidebar-wrapper {
  margin-top: 0;
  background-color: rgb(42,63,84);
  color: white;
  height: 100%;
  position: absolute;
}
*:focus {
  outline:none
}
ul {
  list-style:none;
  padding:0;
  margin:0;
}
.menu-sanfona {
  border:1px solid #ccc;
  border-bottom:none;
  border-left: none;
  border-right: none;
  margin: 10px;
}
.menu-sanfona span {
  padding:10px;
  display:block;
}

.menu-sanfona > li {
    border-bottom:1px solid #ccc;
}

.menu-sanfona > li :hover {
    background: rgb(35,53,71);
  }
.menu-sanfona li ul {
    background:rgb(35,53,71);
    border-top:1px solid #ccc;
    display:none;
}
.menu-sanfona li ul li {
    background: rgb(70,105,140);
}
.menu-sanfona ul : hover{
    display: block;
}

/* a mágica acontece aqui */
.menu-sanfona li:focus ul {
    display:block;
    animation: showNav 1.2s ease-in-out both;
}

.menu-sanfona li ul:hover {
  display:block;
  background:#fff;
  animation: showNav 1s ease-in-out both;
}
@keyframes showNav {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* LINK MENU LATERAL */
.menu-sanfona span a{
  text-decoration: none;
  transition: color .4s;
}

.menu-sanfona a:link,
.menu-sanfona a:visited { color: #fff; }
.menu-sanfona a:hover   { color: #7FDBFF; }
.menu-sanfona a:active  {
  transition: color .3s;
  color: #007BE6;
}

.menu-sanfona .item {
  cursor: pointer;
}

/* IMAGEM CIRCULAR */
.circular {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  /* background: url(http://www.bigdatamining.com.br/imagem/adriana.jpg) no-repeat;*/
  display: block;
  }
 
 .bemvindo {
    margin: 20px;
    height: 70px;
  }
 .foto-bemvindo {
  	float: left;
  }
 .texto-bemvindo {
 	padding-top: 10px;
  	padding-left: 80px;
  }